@using System.Data.SqlClient
@using System.Data

@{

    SqlDataAdapter Query = new SqlDataAdapter("SELECT * FROM products", con);
    DataTable data = new DataTable();
    Query.Fill(data);

    var id_cust = Session["id_cust"];
    int id_cart = 0;


    using (con)
    {
        con.Open();

        var query = $"SELECT C_Id FROM Cart WHERE U_Id = {id_cust}";
        using (SqlCommand command = new SqlCommand(query, con))
        {
            var reader = command.ExecuteReader();

            if (reader.HasRows)
            {
                reader.Read();
                Session["id_cart"] = reader["C_Id"];
                id_cart = Convert.ToInt32(Session["id_cart"]);
            }

        }

        if (IsPost && Request["add_to_cart"] != null)
        {
            var add_productId = int.Parse(Request["id"]);

            var quantValue = Request["qunt"];

            DateTime currentDate = DateTime.Now.Date;

            SqlCommand checkCart = new SqlCommand("SELECT * FROM Reserve WHERE P_Id = @add_productId AND C_Id= @id_cart", con);
            checkCart.Parameters.AddWithValue("@add_productId", add_productId);
            checkCart.Parameters.AddWithValue("@id_cart", id_cart);

            int count = Convert.ToInt32(checkCart.ExecuteScalar());


            if (count == 0)
            {

                var insertToCart = "INSERT INTO Reserve (C_Id, P_Id, Quantity, R_Date) VALUES (@id_cart ,@add_productId, @quantValue, @currentDate)";

                using (SqlCommand commandd = new SqlCommand(insertToCart, con))
                {
                    commandd.Parameters.AddWithValue("@id_cart", id_cart);
                    commandd.Parameters.AddWithValue("@add_productId", add_productId);
                    commandd.Parameters.AddWithValue("@quantValue", quantValue);
                    commandd.Parameters.AddWithValue("@currentDate", currentDate);

                    commandd.ExecuteNonQuery();
                }

                string[] message = { "The product has been added to the cart successfully!" };

                foreach (var messages in message)
                {
                    Response.Write("<a href='#' class='U-add' onclick='this.remove();'>" + message[0] + "</a>");
                }
            }
            else
            {
                string[] message = { "Product already added to cart!" };

                foreach (var messages in message)
                {
                    Response.Write("<a href='#' class='U-exist' onclick='this.remove();'>" + message[0] + "</a>");
                }
            }
        }
    }
    con.Close();
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products Page</title>
    <link rel="icon" type="image/x-icon" href="~/Asset/images/smalLogo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="~/Asset/css/P_style.css">

    <style>



        .add, .button-33 {
            background-color: #64fc46;
            border-radius: 100px;
            box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
            color: white;
            cursor: pointer;
            display: inline-block;
            font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
            padding: 7px 20px;
            text-align: center;
            text-decoration: none;
            transition: all .8s;
            border: 0;
            font-size: 16px;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            font-weight:600;
        }

            .add:hover, .button-33:hover {
                box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
                transform: scale(1.2) rotate(-1deg);
            }

        .U-add, .U-exist {
            color: white;
            width: 30%;
            position: absolute;
            top: -108%;
            padding: 15px 1px;
            margin: 50%;
            text-align: center;
            font-size: 1.3em;
            font-weight: 900;
            cursor: pointer;
            border-radius: 30px;
            border: solid 9px black;
            box-shadow: 31px 22px 11px 4px rgba(0,0,0,0.7);
            background-color: rgb(243 255 0);
            color: black;
            text-decoration: none;
        }

        .U-add {
            background-color: #1cff09;
        }

    /*    .add {
            text-align: center;
            width: 80px;
            color: black;
            font-size: 15px;
            font-weight: 600;
            border: 4px outset #d4c7c7;
            border-radius: 30px;
            text-decoration: none;
            padding: 7px;
            background-color: #38ca1b;
            transition: transform 0.4s ease-in-out;
        }

            .add:hover {
                transform: scale(1.2);
                -webkit-transform: scale(1.2);
                -moz-transform: scale(1.2);
                cursor: pointer;
                background-color: #1cff09;
                border: 4px outset green;
            }*/
    </style>
</head>
<body>
    <!-- partial:index.partial.html -->


    <div class="app-container">
        <div class="sidebar">
            <div class="sidebar-header">
                <div class="app-icon">
                    <a href="~/Home.cshtml">
                        <img class="logo" src="~/Asset/images/Rlogo2.png">
                    </a>
                </div>
            </div>
            <ul class="sidebar-list">
                <li class="sidebar-list-item">
                    <a href="~/Home.cshtml">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z" /><polyline points="9 22 9 12 15 12 15 22" /></svg>
                        <span>Home</span>
                    </a>
                </li>
                <li class="sidebar-list-item active">
                    <a href="~/U_product.cshtml">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-bag"><path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z" /><line x1="3" y1="6" x2="21" y2="6" /><path d="M16 10a4 4 0 0 1-8 0" /></svg>
                        <span>Products</span>
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="~/cart.cshtml">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart">
                            <circle cx="9" cy="21" r="1" />
                            <circle cx="20" cy="21" r="1" />
                            <path d="M1 1h4l2.68 13.39a2 2 0 0 0 1.92 1.61h11.72a2 2 0 0 0 1.92-1.61L23 6H6" />
                        </svg>
                            <span>Cart</span>
                    </a>
                </li>
            </ul>
            <div class="account-info">
                <div class="account-info-picture">
                    <img src="~/Asset/images/smalLogo.png" alt="Account">
                </div>
                <div class="account-info-name">Shop E.</div>
            </div>
        </div>
        <div class="app-content">
            <div class="app-content-header">
                <h1 class="app-content-headerText">Products</h1>
                <button class="mode-switch" title="Switch Theme">
                    <svg class="moon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="24" height="24" viewBox="0 0 24 24">
                        <defs></defs>
                        <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
                    </svg>
                </button>
                <a href="~/cart.cshtml" class="app-content-headerButton">Cart</a>
            </div>
            <div class="app-content-actions">
                <form action="" method="post">
                    <input name="search"  class="search-bar" placeholder="Search..." type="text">
                </form>
                <div class="app-content-actions-wrapper">
                    <div class="filter-button-wrapper">
                        <button class="action-button filter jsFilter"><span>Filter</span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-filter"><polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3" /></svg></button>
                        <div class="filter-menu">
                            <label>Category</label>

                            <form action="" method="post">
                                <select name="category" id="">
                                    <option value="all">All Categories</option>
                                    <option value="Phone">Phone</option>
                                    <option value="Laptop">Laptop</option>
                                    <option value="SmartWatch"> SmartWatch</option>
                                </select>

                                <div class="filter-menu-buttons">
                                    <button name="" class="filter-button reset">Reset</button>
                                    <button name="apply" class="filter-button apply">Apply</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <button class="action-button list active" title="List View">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list"><line x1="8" y1="6" x2="21" y2="6" /><line x1="8" y1="12" x2="21" y2="12" /><line x1="8" y1="18" x2="21" y2="18" /><line x1="3" y1="6" x2="3.01" y2="6" /><line x1="3" y1="12" x2="3.01" y2="12" /><line x1="3" y1="18" x2="3.01" y2="18" /></svg>
                    </button>
                    <button class="action-button grid " title="Grid View">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid"><rect x="3" y="3" width="7" height="7" /><rect x="14" y="3" width="7" height="7" /><rect x="14" y="14" width="7" height="7" /><rect x="3" y="14" width="7" height="7" /></svg>
                    </button>
                </div>
            </div>

            <div class="products-area-wrapper tableView">
                <div class="products-header">
                    <div class="product-cell image">
                        Items
                        <button class="sort-button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
                        </button>
                    </div>
                    <div class="product-cell category">
                        Category<button class="sort-button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
                        </button>
                    </div>
                    <div class="product-cell status-cell">
                        Sales<button class="sort-button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
                        </button>
                    </div>
                    <div class="product-cell sales">
                        Price<button class="sort-button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
                        </button>
                    </div>

                    <div class="product-cell price">
                        Quantity<button class="sort-button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
                        </button>
                    </div>
                </div>

                @{
                    Random random = new Random();

                    if (IsPost && Request["search"] != null)
                    {
                        var searchTerm = Request["search"];


                        string search_query = "SELECT * FROM products WHERE P_name LIKE @searchTerm OR Category LIKE @searchTerm";

                        SqlDataAdapter E_query = new SqlDataAdapter(search_query, con);
                        E_query.SelectCommand.Parameters.AddWithValue("@SearchTerm", "%" + searchTerm + "%");

                        DataTable data_S = new DataTable();
                        E_query.Fill(data_S);


                        if (data_S.Rows.Count > 0)
                        {
                            foreach (DataRow row in data_S.Rows)
                            {

                                <div class="products-row">

                                    <div class="product-cell image">
                                        <img src="@row["Image"]" alt="product1">
                                        <center><span>@row["P_name"]</span></center>
                                    </div>
                                    <div class="product-cell category"><span class="cell-label">Category:</span>@row["Category"]</div>

                                    <div class="product-cell sales"><span class="cell-label">Sales:</span>@random.Next(5, 31)</div>
                                    <div class="product-cell price"><span class="cell-label">Price:</span>$@row["Price"]</div>
                                    <form action="" method="post" style="left:-100px">
                                        <div class="product-cell stock">
                                            <input type="number" min='1' name='qunt' value='1'>
                                            <input style="display: none;" type="text" name='id' value="@row["P_Id"]" required><br>
                                            <div>
                                                <input name="add_to_cart" class="add" type="submit" value="Add">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            }
                        }
                        else
                        {
                            <center><h1 style="color:red">No results found.</h1></center>
                        }
                    }
                    else if (IsPost && Request["apply"] != null && Request["category"] != "all")
                    {
                        var S_Category = Request["category"];

                        string search_query = "SELECT * FROM products WHERE Category LIKE @S_Category";

                        SqlDataAdapter E_query = new SqlDataAdapter(search_query, con);
                        E_query.SelectCommand.Parameters.AddWithValue("@S_Category", "%" + S_Category + "%");

                        DataTable data_G = new DataTable();
                        E_query.Fill(data_G);


                        if (data_G.Rows.Count > 0)
                        {
                            foreach (DataRow row in data_G.Rows)
                            {

                                <div class="products-row">

                                    <div class="product-cell image">
                                        <img src="@row["Image"]" alt="product1">
                                        <center><span>@row["P_name"]</span></center>
                                    </div>
                                    <div class="product-cell category"><span class="cell-label">Category:</span>@row["Category"]</div>

                                    <div class="product-cell sales"><span class="cell-label">Sales:</span>@random.Next(5, 31)</div>
                                    <div class="product-cell price"><span class="cell-label">Price:</span>$@row["Price"]</div>
                                    <form action="" method="post" style="left:-100px">
                                        <div class="product-cell stock">
                                            <input type="number" min='1' name='qunt' value='1'>
                                            <input style="display: none;" type="text" name='id' value="@row["P_Id"]" required><br>
                                            <div>
                                                <input name="add_to_cart" class="add" type="submit" value="Add">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            }
                        }
                    }
                    else
                    {
                        foreach (DataRow row in data.Rows)
                        {

                            <div class="products-row">
                                <div class="product-cell image">
                                    <img src="@row["Image"]" alt="product1">
                                    <center><span>@row["P_name"]</span></center>
                                </div>
                                <div class="product-cell category"><span class="cell-label">Category:</span>@row["Category"]</div>

                                <div class="product-cell sales"><span class="cell-label">Sales:</span> @random.Next(5, 31) </div>
                                <div class="product-cell price"><span class="cell-label">Price:</span>$@row["Price"]</div>
                                <form action="" method="post" style="left:-100px">
                                    <div class="product-cell stock">
                                        <input type="number" min='1' name='qunt' value='1'>
                                        <input style="display: none;" type="text" name='id' value="@row["P_Id"]" required><br>
                                        <div>
                                            <input name="add_to_cart" class="add" type="submit" value="Add">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </div>

    <script src="~/Asset/js/P_script.js"></script>

</body>
</html>
